*{
    margin: 0;
    padding:0;
}
h2{
    color:red;
    text-align: 
}

#btn{
    padding:10px;
    margin:10px;
    background-color: tomato;
    border-radius: 10px;
}
.game{
    width: 100%;
    height: auto;
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.board{
    width: 500px;
    height:500px;
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    @media only screen and (max-width: 500px) {
        .board{
            width:250px;
            height: 250px;
        }
    }
#q0,#q3,#q6{
    border-left: none;
}
#q2,#q5,#q8{
    border-right: none;
}
#q0,#q1,#q2{
    border-top: none;
}
#q6,#q7,#q8{
    border-bottom: none;
}

.square:hover{
    background-color: yellowgreen;
}
    

.square{
    background-color: skyblue;
    width:30%;
    height:auto;
    border-color: tomato;
    border-style:solid;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* line-height: 125px; */
    /* font-size: 70px; */
}
