*{
    margin: 0;
    padding:0;
}
body{
    background-color: black;
}
#hed{
    color: white;
    margin-left: 10px;
    font-family: timeburner;
    font-size:18px;
    
}
#select{
    color: white;
}


#btn{
    padding:10px;
    margin:10px;
    background-color: rgb(43, 40, 40);
    border-radius: 10px;
    color:white;
}
.game{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.board{
    width: 500px;
    height:500px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    @media only screen and (max-width: 500px) {
        .board{
            width:250px;
            height: 250px;
        }
    }
#q0,#q3,#q6{
    border-left: none;
}
#q2,#q5,#q8{
    border-right: none;
}
#q0,#q1,#q2{
    border-top: none;
}
#q6,#q7,#q8{
    border-bottom: none;
}

/* .square:hover{
    background-color: yellowgreen;
} */
    

.square{
    background-color: black;
    width:30%;
    height:163px;
    border-color: white;
    border-style:solid;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 125px;
    font-size: 120px;
    font-weight: bolder;
    color:white;
}
    @media only screen and (max-width: 500px) {
        .square{
            height:80px;
            line-height: 60px;
            font-size: 50px;
        }
}
